@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

$primary: #FFD166;
$secondary: #6694FF;
$light1: #FFFFFF;
$light2: #DCDEE1;
$dark1: hsl(215, 19%, 14%);
$dark2: hsl(215, 19%, 17%);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
}

.btn{
	padding: 8px 14px;
	cursor: pointer;
	background-color: $secondary;
	color: $dark1;
	font-weight: bold;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	outline: 4px transparent solid;
	display: flex;
	justify-content: space-between;
	align-items: center;

	i{
		font-size: 20px;
		margin-left: 5px;
	}
}

.btn:hover{
	filter: brightness(.8);
}

.btn:focus{
	outline-color: rgba($secondary, .2);
}

.btn.red{
	background-color: #FF6666;
}

.btn.red:focus{
	outline-color: rgba(#FF6666, .2);
}

.inp{
	background-color: $dark2;
	border: none;
	border-radius: 5px;
	width: 320px;
	padding: 10px;
	font-size: 14px;
	color: $light2;
	outline: 4px transparent solid;
}

.inp:focus{
	outline-color: rgba($secondary, .2);
}

.home{
	display: flex;
}

.sidebar{
	background-color: $dark1;
	padding: 40px;
	width: 600px;
	height: 100vh;
	transition: transform .3s;

	.header{
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo{
			color: $light1;
			text-decoration: none;
			font-size: 24px;
			font-weight: bold;

			span{
				color: $primary;
			}
		}
	}

	.boards{
		margin-top: 40px;

		.title{
			font-size: 24px;
			color: $light1;
			font-weight: bold;
		}

		.items{
			margin-top: 20px;

			.item{
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 20px;
				border: 2px $dark2 solid;
				// border-left: 4px $primary solid;
				// border-radius: 0 5px 5px 0;
				border-radius: 5px;
				color: $light2;
				font-size: 16px;
				position: relative;
				cursor: pointer;

				button{
					color: $light2;
					cursor: pointer;
					border: none;
					background-color: transparent;
					font-size: 16px;
				}
			}

			.item:not(:first-of-type){
				margin-top: 10px;
			}

			.item.active{
				background-color: $dark2;
				color: $light1;
				font-weight: bold;
				cursor: default;
			}

			.item:hover{
				background-color: $dark2;
			}
		}

		.add-new{
			display: block;
			color: $light2;
			font-size: 16px;
			cursor: pointer;
			margin-top: 20px;

			span{
				color: $secondary;
			}
		}

		.add-new:hover{
			opacity: .7;
		}
	}

	.new-board-panel{
		background-color: $dark1;
		position: absolute;
		left: 50%;
		top: 40%;
		transform: translate(-50%, -50%);
		padding: 20px;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		display: none;

		.top{
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;

			p{
				color: $light1;
				font-size: 24px;
			}

			button{
				width: 24px;
				height: 24px;
				display: block;
				padding: 0;
				margin: 0 !important;

				i{
					margin: 0;
					font-size: 24px;
				}
			}
		}

		input{
			margin-top: 20px;
		}

		button:last-of-type{
			margin-top: 20px;
		}
	}

	.new-board-panel.active{
		display: block;
	}
}

.overlay{
	background-color: rgba(#000, .5);
	position: absolute;
	height: 100vh;
	width: 100%;
	left: 0;
	top: 0;
	display: none;
}

.overlay.active{
	display: block;
}

.board{
	width: calc(100% - 600px);
	background-color: $dark2;
	padding: 40px;
	height: 100vh;

	.header{
		display: flex;
		justify-content: space-between;
		align-items: center;

		.title{
			font-size: 48px;
			color: $light1;
			font-weight: bold;
		}

		.add-new{
			font-size: 20px;
			color: $light2;
			cursor: pointer;

			span{
				color: $secondary
			}
		}

		.add-new:hover{
			opacity: .7;
		}
	}

	.tasks{
		margin-top: 40px;
	
		.task{
			padding: 20px;
			background-color: $dark1;
			border-radius: 5px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.left, .right{
				display: flex;
				align-items: center;
			}

			.check{
				min-width: 32px;
				height: 32px;
				line-height: 16px;
				font-size: 22px;
				background-color: $dark2;
				border: none;
				cursor: pointer;
				border-radius: 5px;
				color: transparent;
			}

			.check:hover{
				opacity: .8;
			}
	
			p{
				margin-left: 10px;
				color: $light1;
				font-size: 20px;
			}

			.right{
				button{
					cursor: pointer;
					border: none;
					font-size: 20px;
					width: 32px;
					height: 32px;
					color: $dark1;
					border-radius: 5px;
					line-height: 16px;
				}

				button:hover{
					filter: brightness(.8);
				}

				button:last-of-type{
					margin-left: 10px;
				}

				.edit{
					background-color: $secondary;
					outline: 4px transparent solid;
				}

				.edit:focus{
					outline-color: rgba($secondary, .2);
				}

				.delete{
					background-color: #FF6666;
					outline: 4px transparent solid;
				}

				.delete:focus{
					outline-color: rgba(#FF6666, .2);
				}
			}
		}
	
		.task:not(:first-of-type){
			margin-top: 10px;
		}

		.task.active{
			.check{
				background-color: $primary;
				color: $dark1;
				font-weight: bold;
			}
		}
	}
}

.close, .burger{
	border: none;
	background-color: transparent;
	font-size: 32px;
	line-height: 8px;
	color: $light1;
	display: none;
	cursor: pointer;
}

.signin-panel{
	background-color: $dark1;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.title{
		color: $light1;
		font-size: 64px;
		font-weight: bold;
		margin-bottom: 20px;

		span{
			color: $primary;
		}
	}

	p:last-of-type{
		color: $light2;
		font-size: 24px;
	}

	button{
		margin-top: 40px;

		i{
			margin-left: 0;
			margin-right: 5px;
			margin-bottom: 2px;
		}
	}
}

@media screen and (max-width: 1400px){
	.signin-panel{
		.title{
			font-size: 48px;
		}

		p:last-of-type{
			font-size: 16px;
		}
	}

	.sidebar{
		width: 500px;

		.title{
			font-size: 20px !important;
		}

		.item{
			font-size: 14px !important;
		
			button{
				font-size: 14px !important;
			}
		}

		.add-new{
			font-size: 14px !important;
		}
	}

	.board{
		width: calc(100% - 500px);

		.header{
			.title{
				font-size: 32px;
			}
		}

		.task{
			p{
				font-size: 16px !important;
			}

			button{
				min-width: 24px !important;
				width: 24px !important;
				height: 24px !important;
				font-size: 16px !important;
				line-height: 14px !important;
			}
		}
	}

	.btn{
		font-size: 14px !important;

		i{
			font-size: 16px !important;
		}
	}
}

@media screen and (max-width: 1000px){
	.signin-panel{
		.title{
			font-size: 24px;
		}

		p:last-of-type{
			font-size: 14px;
		}
	}

	.close, .burger{
		display: block;
	}

	.sidebar{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transform: translateX(-100%);
	}

	.sidebar.active{
		transform: translateX(0);
	}

	.board{
		width: 100%;
		height: 100vh;

		.title{
			font-size: 24px !important;
		}

		.add-new{
			font-size: 16px !important;
		}

		.task{
			p{
				font-size: 14px !important;
			}
		}
	}
}